body {
  margin: 0;                                /* Elimina márgenes del body */
  min-height: 1vh;                        /* Altura mínima = alto del viewport */
  background: url('../img/pasteleria.avif') 
     no-repeat center center fixed;         /* fondo sin repetir, centrado y fijo */
  background-size: cover;
  color: white;                   /* cubre por completo */
}

.contenedor1{
    width: auto;
    height: auto;
    margin: 200px;
    padding: 40px;
    background-color: rgb(209, 166, 191);
    border: 1px double black;
}
.contenedor{
    width: auto;
    height: auto;
    margin: 200px;
    padding: 40px;
    text-align: center;
    color: black;
}
.tipos{
    display: grid;
    grid-template-columns: 205px 205px 205px 205px;
    gap: 10px;
}
.item{
    background-color: rgba(255, 127, 80, 0.781);
    padding: 10px;
    border: 1px double black;
}
/* pie de pagina */
.item1{
    background-color: black;
    padding: auto;
    border: 1px double black;
    text-align: center;
}
.pie{
    display: grid;
    grid-template-columns: auto auto;

}